* {
    margin: auto;
}

.top-container {
    color: #66bfbf;
    padding-top: 100px;
    background-color: #e1fffd;
    position: relative;
}

.title-text {
    text-align: center;
}

.title-text > h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 50px;
    margin-top: 100px;
}

.title-text > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
    font-size: 2rem;
}

.top-cloud {
    position: absolute;
    left: 80%;
}

.bottom-cloud {
    position: absolute;
    left: 5%;
}

.mountains {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.middle-container {
    font-family: 'Roboto', sans-serif;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 180px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.intro-text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.bottom-container > h2 {
    color: #66bfbf; 
    font-size: 3rem; 
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.contact > h2 {
    color: #66bfbf; 
    font-size: 3rem; 
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.contact > p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.card {
    margin-bottom: 10px;
}

.contact {
    margin-left: 20px;
    margin-right: 20px;
}

.card-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}